In [14]:
import pandas as pd
import numpy as np
import weather 
import datetime

In [16]:
locations = pd.read_csv('Locations.csv')
locations.head()

,City,State,Zip,Url
0,Tulsa,Oklahoma,74104,https://www.wunderground.com/history/airport/K...
1,Seattle,Washington,98101,https://www.wunderground.com/history/airport/K...
2,San Francisco,California,94101,https://www.wunderground.com/history/airport/K...
3,Los Angeles,California,90001,https://www.wunderground.com/history/airport/K...
4,Boise,Idaho,83701,https://www.wunderground.com/history/airport/K...

In [30]:
for index, row in locations.iterrows():
    city = row['City']
    state = row['State']
    zip = row['Zip']
    
    weather.get_city_daily_weather(city = city, state = state, zip = zip,
                               start_yr = 2016, start_month = 1, start_day = 1)

Tulsa
Oklahoma
74104





Seattle
Washington
98101





San Francisco
California
94101





Los Angeles
California
90001





Boise
Idaho
83701





Denver
Colorado
80202





Dallas
Texas
75201





New Orleans
Louisiana
70063





Miami
Florida
33010





Atlanta
Georgia
30301





St Louis
Missouri
63101





Minneapolis
Minnesota
55401





Chicago
Illinois
60290





Boston
Massachusetts
2101





New York City
New York
10001





Washington
District of Columbia
20001